body {
	background-color: rgb(131, 124, 124);
}

h1 {
	font-size: 60px;
}
.col-md-7 {
	background-color: ivory;
	float: left;
}
img {
	height: 250px;
	width: 200px;
	float: left;
}

.nav-link {
	float: right;
}

#spacer {
	height: 100px;
}
