body {
	background-color: rgba(201, 201, 201, 0.801);
}

h1 {
	font-size: 60px;
	font-family: serif;
	font-weight: 800;
	color: rgb(18, 131, 112);
	padding: 5px;
}

.col-md-7 {
	background-color: white;
	float: left;
}

img {
	height: 250px;
	width: 200px;
	float: left;
}

.nav-link {
	float: right;
}

#spacer {
	height: 100px;
}

#self {
	color: white;
	background-color: rgb(18, 131, 112);
	font-family: serif;
	font-size: 40px;
	font-weight: 800;
}

.index-pic {
	padding: 5px;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(99, 13, 13, 0.89);
}
