body {
	background-color: rgba(201, 201, 201, 0.801);
}
.col-md-6 {
	background-color: rgb(251, 253, 251);
	float: left;
	margin-left: 0;
	padding: 5px;
	border: ;
}
.navbar-brand {
	color: white;
	background-color: rgb(18, 131, 112);
	font-size: 40px;
	font-family: serif;
	font-weight: 800;
}

#name {
	color: white;
}

.contact-header {
	margin: auto;
	padding: 3px;
	color: rgb(18, 131, 112);
	font-family: serif;
	font-weight: 800;
}

.btn-lg {
	background-color: rgb(18, 131, 112);
	border: 0;
}

#spacer-1 {
	height: 100px;
}
